.post:hover {
    background-color: #272727;
}

.post_template {
    border: 1px solid white;
    /* border-bottom: 1px solid white; */
}

.lightning_icon {
    color:
}

.post_title {
    font-size: 18px;
}