.img_wall {
    background-color: black;
    z-index: 10087;
}

.img_wall_first_row {
    color: white;
}

.leave_btn {
    font-size: 40px;
    color: white;
    border: none;
    background-color: transparent;
}

.grid-item {
    margin: 5px;
    height: 200px;
}