.mobile_vision {
    background-color: #1c1c1c;
}

.bt_nav_bar button{
    border: none;
    background-color: #060606;
    color: white;
}

.bt_nav_bar button:hover {
    background-color: #1c1c1c;
}

.bt_nav_bar {
    z-index: 10089;
}