/* first_row */
.first_row {
    height: 6%;
    border: 1px solid rgb(255, 255, 255);
}



.second_row {
    height:94%;
    overflow-y: scroll;
}

.latest_btn button {
    /* border: none; */
    background-color: #1e1e1e;
    color: white;
    padding: 3% 0;
    width: 50%;
}

.latest_posts {
    border: 1px solid white;
}

/* .post-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 3px 0px 3px 15px;
    border-bottom: 1px solid grey;
} */

.post-wrapper div {
    margin: 0;
}
