.offcanvas.offcanvas-start {
    z-index: 10088;
    width: 230px;
}

.offcanvas .btn_bar {
    padding: 0 5px;
    height: 100vh;
    background-color: #151515;
}

.offcanvas .btn_bar button {
    background-color: transparent;
    border: none;
    font-size: 23px;
}

.offcanvas .btn_bar button i:hover {
    color: white;
}

.offcanvas-container {
    height: 100%;
    background-color: #1e1e1e;
}

.offcanvas-hd>div {
    padding: 10px 0;
}

.search_div {
    width: 87%;
    padding: 4px 0;
    background-color: #151515;
    border: none;
    border-radius: 3px;
    color: white;
}

.search_div input {
    font-size: 17px;
    width: 80%;
    background-color: #151515;
    border: none;
    border-radius: 3px;
    color: white;
}

.search_div input:focus-visible {
    outline: none !important;
}

.search_icon {
    font-size: 17px;
    border: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 0;
    color: white;
    background-color: transparent;
}

.review_btn, .signUp_btn, .follow_btn, .favourite_btn {
    font-size: 17px;
    border: none;
    background-color: #1e1e1e;
    color: #ccc6c0;
}

.review_btn i, .signUp_btn i, .follow_btn i, .favourite_btn i {
    padding: 0 8% 0 10%;
}

.review_btn:hover i, .review_btn:hover a, .signUp_btn:hover i, .signUp_btn:hover a {
    color: #fac208;
}

.follow_btn:hover i, .follow_btn:hover a, .favourite_btn:hover i, .favourite_btn:hover a {
    color: #fac208;
}

.offcanvas-bd {
    height: 70%;
    /* overflow: auto; */
    overflow-y: scroll;
}

.offcanvas-bd p {
    color: #666666;
    font-size: 13px;
    padding: 15px 0 0 30px;
    margin-bottom: 5px;
}

.offcanvas-bd .stations {
    padding: 3% 0;
}

.offcanvas-bd a {
    padding: 5% 25%;
}

.offcanvas-bd a:hover {
    color:#fac208;
}