.post-container_template {
    position: relative;
    height: 100vh;
    overflow: auto;
}

.post_bar {
    min-height: 50px;
    height: 50px;
    background-color: #222222;
    border-bottom: 1px solid #3b3a39;
    z-index: 10070;
    overflow-y: hidden;
}

.home_page_cover {
    width: 100%;
}

.home_page_cover_container {
    width: 550px;
    margin: 13% auto;
}

.home_page_cover_container .first_row {
    margin-bottom: 10px;
    font-size: 25px;
}

.home_page_cover_container .third_row {
    margin: 10px 0;
    font-size: 17px;
    font-weight: bold;
}

.home_page_cover_container  a {
    color:#4da9e5;
    text-decoration: underline !important;
    margin: 0 15px 0 0 ;
}

.post_first_row {
    background-color: #222222;
}

.post_first_row button {
    height: 50px;
    width: 45px;
    color: white;
    border: none;
    background-color: transparent;
}

.post_first_row button:hover {
    background-color: #454545;
}

.previous_page_btn {
    border: none;
    background-color: transparent;
}

/* post_replies */
.post_page {
    height: 70px;
    background-color: black;
}

.post_page button {
    font-size: 17px;
    border: none;
    background-color: transparent;
    color: #fac208;
    z-index: 0;
}

.post_page select {
    width: 80px;
    opacity: 0;
    z-index: 1;
}

.current_page_btn {
    width: 100px;
}

.current_page_btn select:hover {
    cursor: pointer;
}

.user_nickname_btn:hover, .reply_first_row i:hover {
    cursor: pointer;
}

/* reply */
.reply {
    background-color: #222222;
}

.reply_like_section {
    height: 30px;
    width: 110px;
    background-color: #333333;
    border-radius: 3px;
}

.reply_like_section button {
    font-size: 14px;
    border: none;
    color: #ccc6c0;
    background-color: transparent;
}

/* userDetail */
.userDetail {
    background-color: rgba(38, 38, 38, 0.3);
}

.userDetail_content {
    width: 400px;
    border-radius: 5px;
    border: 1px solid #3b3a39;
    background-color: #222222;
}

.userDetail div {
    color: white;
}

.userDetail_content .first_row {
    font-size: 17px;
    border-bottom: 1px solid #3b3a39;
}

.userDetail_content .second_row {
    font-size: 20px;
    background-color: #292827;
    border-bottom: 1px solid #3b3a39;
}

.userDetail button {
    color: white;
    border: none;
    background-color: transparent;
}

/* block alert */
.block_list {
    top: 20px;
    right: 20px;
    color: white;
    width: 200px;
    height: 100px;
    background-color: #222222;
    border: 1px solid #3b3a39;
    border-radius: 15px;
    z-index: 18881;
}

.follow_alert {
    top: 20px;
    right: 20px;
    color: white;
    width: 200px;
    height: 100px;
    background-color: #222222;
    border: 1px solid #3b3a39;
    border-radius: 15px;
    z-index: 18881;
}

/* CreatePost */
.createPostForm {
    background-color: #454545;
    width: 50vw;
    height: 80vh;
    position: absolute;
    left: 25%;
    top: 100px;
    padding: 15px;
    z-index: 99999;
}

.postFormFirstRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: white;
}

#selectStation {
    background-color: #333333;
    color: white;
    border-radius: 5px;
    margin: 5px;
    max-width: 100px;
}

#postTitle {
    background-color: #333333;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

#content {
    background-color: #333333;
    height: 62vh;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

.createPostSubmit {
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

.createPostContainer {
    background-color: rgba(38, 38, 38, 0.3);
}

/* userProfile */
.userProfile {
    background-color: rgba(38, 38, 38, 0.3);
}

.userProfile_container {
    width: 450px;
    border: 1px solid #3c3c3b;
    border-radius: 10px;
    background-color: #222222;
    z-index: 10084;
}

.userProfile span {
    color: white;
}

.userProfile div{
    width: 450px;
    text-align: center;
    color: white;
}

.userProfile_container button {
    width: 600px;
    color: white;
    border: none;
    background-color: transparent;
}

.userProfile_container .d-flex {
    height: 50px;
    border-bottom: 1px solid #3c3c3b;

}

.log_out {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.userProfile_container .second_row:hover, .userProfile_container button:hover {
    background-color: #3c3c3b;
    cursor: pointer;
}

#image {
    width: 220px;
}

/* Create Reply */

.createReplyForm {
    background-color: #454545;
    width: 50vw;
    height: 80vh;
    position: absolute;
    left: 25%;
    top: 100px;
    padding: 15px;
    z-index: 99999;
}

.replyFormFirstRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: white;
}

#replyContent {
    background-color: #333333;
    height: 66vh;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

.createReplySubmit {
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

.createReplyContainer {
    background-color: rgba(38, 38, 38, 0.3);
}

#replyImage {
    width: 220px;
}

/* share_container */
.share_container {
    background-color: rgba(38, 38, 38, 0.3);
}

.share_div {
    width: 600px;
    background-color: #292827;
    border: 1px solid #292827;
    border-radius: 5px;
}

.share_div.first_row {
    background-color: #222222;
}

.share_content {
    background-color: #151515;
    border: 1px solid #292827;
}

.leave_share_btn {
    border: none;
    color: white;
    background-color: transparent;
}

.fa-copy {
    top: 9px;
    left: 9px;
    font-size: 20px;
    color: white;
}

.telegram {
    background-color: white;
    border: none;
    border-radius: 50px;
}

.fa-telegram {
    top: -2px;
    left: -2px;
    font-size: 37px;
    color: #3b86c6;
}

.copy {
    width: 37px;
    height: 37px;
    background-color: #7a7a7a;
    border: none;
    border-radius: 50px;
}

.whatsapp {
    width: 37px;
    height: 37px;
    background-color: #429488;
    border: none;
    border-radius: 50px;
}

.fa-whatsapp {
    top: 6px;
    left: 9px;
    font-size: 24px;
    color: white;
}

.facebook {
    width: 37px;
    height: 37px;
    background-color: #4c60a1;
    border: none;
    border-radius: 50px;
}

.fa-facebook-f {
    top: 10px;
    left: 12px;
    font-size: 20px;
    color: white;
}

.twitter {
    width: 37px;
    height: 37px;
    background-color: #4da9e5;
    border: none;
    border-radius: 50px;
}

.fa-twitter {
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
}

/* blocked_list_container */
.blocked_list_container {
    background-color: rgba(38, 38, 38, 0.3);
    z-index: 10085;
}

.blocked_list_content {
    width: 600px;
    background-color: #292827;
    border: 1px solid #292827;
    border-radius: 5px;
}