.post-container_template {
    position: relative;
    height: 100vh;
    overflow: auto;
}

.post_first_row {
    height: 50px;
    background-color: #222222;
    border-bottom: 1px solid #3b3a39;
}

.post_first_row button {
    height: 50px;
    width: 45px;
    color: white;
    border: none;
    background-color: transparent;
}

.post_first_row button:hover {
    background-color: #454545;
}

.previous_page_btn {
    border: none;
    background-color: transparent;
}

/* post_replies */
.post_page {
    height: 70px;
}

.post_page button {
    font-size: 17px;
    border: none;
    background-color: transparent;
    color: #fac208;
    z-index: 0;
}

.post_page select {
    width: 80px;
    opacity: 0;
    z-index: 1;
}

.current_page_btn {
    width: 100px;
}

.current_page_btn select:hover {
    cursor: pointer;
}

/* reply */
.reply {
    background-color: #222222;
}

.reply_like_section {
    height: 30px;
    width: 110px;
    background-color: #333333;
    border-radius: 3px;
}

.reply_like_section button {
    font-size: 14px;
    border: none;
    color: #ccc6c0;
    background-color: transparent;
    background-color: rgb(38, 38, 38);
}

/* userDetail */
.userDetail {
    background-color: rgba(38, 38, 38, 0.3);
}

.userDetail_content {
    width: 600px;
    border-radius: 5px;
    background-color: #454545;
}

/* CreatePost */
.createPostForm{
    background-color: #454545;
    width: 50vw;
    height: 80vh;
    position: absolute;
    left: 25%;
    top: 100px;
    padding: 15px;
    z-index: 99999;
}

.postFormFirstRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: white;
}
#selectStation{
    background-color: #333333;
    color: white;
    border-radius: 5px;
    margin: 5px;
    max-width: 100px;
}
#postTitle{
    background-color: #333333;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
#content{
    background-color: #333333;
    height: 62vh;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
.createPostSubmit{
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}
.createPostContainer {
    background-color: rgba(38, 38, 38, 0.3);
}
<<<<<<< HEAD

/* userProfile */
.userProfile {
    background-color: rgba(38, 38, 38, 0.3);
}

.userProfile_container {
    width: 600px;
    border-radius: 5px;
    background-color: #222222;
}

.userProfile_container button {
    width: 600px;
    color: white;
    border: none;
    background-color: transparent;
}

.userProfile_container .d-flex {
    height: 50px;
    border: 1px solid #3c3c3b;
}

.log_out {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.userProfile_container button:hover {
    background-color: #3c3c3b;
=======
#image{
    width: 220px;
}

/* Create Reply */

.createReplyForm{
    background-color: #454545;
    width: 50vw;
    height: 80vh;
    position: absolute;
    left: 25%;
    top: 100px;
    padding: 15px;
    z-index: 99999;
}

.replyFormFirstRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: white;
}

#replyContent{
    background-color: #333333;
    height: 66vh;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
.createReplySubmit{
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}
.createReplyContainer {
    background-color: rgba(38, 38, 38, 0.3);
}
#replyImage{
    width: 220px;
>>>>>>> f56a5b3573cdd37f1b5bd69249eac0b522249cc9
}